:root {
  --white: #fff;
  --black: #000;
  --orange: #fd4d3f;
  --darkBlue: #141c3a;
  --fontFamily: 'Nunito', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
  height: 100vh;
  background-color: var(--orange);
}

.random-color-generator {
  display: grid;
  padding-top: 25px;
  gap: 10px;
  justify-items: center;
}

.rainbow-img {
  max-width: 200px;
}

.title {
  font-size: 30px;
  color: var(--darkBlue);
  text-align: center;
}

.description {
  font-size: 20px;
  color: var(--white);
}

.button-container {
  display: grid;
  max-width: 300px;
  width: 95vw;
  gap: 10px;
}

.button {
  width: 100%;
  padding: 1.75rem 0.5rem;
  font-family: var(--fontFamily);
  font-size: 24px;
  background-color: var(--darkBlue);
  color: var(--white);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
